body {
    margin: 0;
    padding: 0;
    background-color: #094373;
    font-family: 'Alata';
    color: #fff;

  }

.header {
    background: #031727;
    border-bottom: #094373 solid 3px;
    font-family: 'Montserrat';
  }
  
  .titulo {
    font-weight: 600;
  }
  .agora {
    font-weight: 450;
  }
  
  .container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar {
    list-style: none;
    display: flex;
    color: rgb(210, 210, 255);
    justify-content: space-evenly;
    width: 400px;
  }
  .navbar a {
    color: rgb(210, 210, 255);
    text-decoration: none;
  }
.empresa{
    height: 10vh;
    width: 30vw;
color: white;
    
}

.meio{
    height: 50vh;
    width: 25vw;
    background-color: #031727 ;
    margin-left: 35%;
    color: black;
    margin-top: 5%;
}


input{
    height: 6vh;
    width: 15vw;
    background-color: black;
    border-radius: 15px;
    font-size: 20px;
    color: white;
    margin-left: 9vh;
    margin-top: 10%;
    border: black;
}




